<h1>New Shop</h1>
<%= form_with scope: :shop,url: shops_path do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :shop_name %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :shop_address %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', shops_path %>
